#footer {
    background: $dark-blue;
    padding-left: 30px;


}

.footer {


    &__contact-info {
        color: #fff;
        font-size: .9rem;
        padding-top: 30px;

        a {
            color: #fff;
            text-decoration: none;
        }

        ul {
            list-style: none;
        }

        img {
            padding-right: 10px
        }

        li {
            padding: 10px 0;
        }

    }


}