.section {
    padding-left: 10px;
    padding-right: 10px;

    &__heading--white {
        color: #fff;
        font-size: 1.1rem;
    }

    &__btn {
        background: $bright-blue;
        border-radius: 3px;
        color: #fff;
        display: block;
        font-weight: 700;
        padding-top: 15px;
        padding-bottom: 15px;
        margin-left: 5px;
        text-align: center;

        &--green {

            border-bottom: 1px solid $moderate-cyan;
            color: $moderate-cyan;
            padding-bottom: 1px;
            text-align: center;

        }

        &--third {
            background: $bright-blue;
            border-radius: 3px;
            color: #fff;
            display: block;
            font-weight: 700;
            padding-top: 15px;
            padding-bottom: 15px;
            margin-left: 50px;
            text-align: center;
            width: calc(75% - 5px);
        }
    }

    &__illustration {
        padding: 50px 0 20px 20px;
        max-width: 90%;
    }

    &__input {
        box-sizing: border-box;
        border: 1px solid $dark-blue;
        border-radius: 3px;
        font-family: 'Raleway', sans-serif;
        margin-left: 5px;
        margin-bottom: 15px;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 15px;
        width: calc(100% - 5px);

        &:active {
            outline-color: rgba($dark-blue, .1);
        }

        &:focus {
            outline-color: rgba($dark-blue, .1);
        }

        &--third {
            box-sizing: border-box;
            border: 1px solid $dark-blue;
            border-radius: 3px;
            font-family: 'Raleway', sans-serif;
            margin-left: 50px;
            margin-bottom: 15px;
            padding-top: 15px;
            padding-bottom: 15px;
            padding-left: 15px;
            width: calc(75% - 5px);
        }
    }

    &__text {
        text-align: center;

        &--second {
            font-size: 1rem;
            text-align: left;
            padding: 0 20px;

        }

        &--white {
            color: #fff;
            font-size: 1.025rem;
            text-align: center;
            padding-left: 20px;
            padding-right: 20px;
            padding-bottom: 10px;

        }
    }


    &--bg-changed {
        background: $desat-blue;
    }
}